
//- extends layout

//- block content
//-   h1= title
//-   form(action="/new", method="GET")
//-     button(type="submit") Post a New Message
//-   ul
//-     each message in messages
//-       li
//-         span.user-icon= message.user.icon
//-         strong= message.user.name
//-         | : #{message.text}
//-         br
//-         span.message-date= message.added

extends layout

block content
  h1= title
  form(action="/new", method="GET")
    button(type="submit") Post a New Message
  ul
    each message in messages
      li
        span.user-icon= message.user.icon
        strong= message.user.name
        | : #{message.text}
        br
        span.message-date= message.added
