
extends layout

block content
  h1= title
  form(action="/new", method="GET")
    button(type="submit") Post a New Message
  ul
    each message in messages
      li
        span.user-icon= message.icon
        strong= message.author
        | : #{message.messageText}
        br
        span.message-date= message.createdAt
